 {% extends 'base1.html' %} {% block title %}Set new password{% endblock %} {% block nav %}
<nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
    <a class="navbar-brand" href="../../">CISBLOG</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <!-- <li class="nav-item active">
                <a class="nav-link" href="/">Home </a>
            </li> -->
            <!-- <span class="sr-only">(current)</span> -->
            <!-- <li class="nav-item">
                <a class="nav-link" href="../../bloghome">Popblog</a>
            </li> -->
            <li class="nav-item">
                {% if request.session.person_id %} {% csrf_token %}
                <a class="nav-link" href="../blogpost">WrBlog</a> {% else %}
                <a class="nav-link" href="#">WrBlog</a> {% endif %}
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../contact">ContactUs</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" href="../mainpage">About</a>
            </li> -->
        </ul>
        <div class="mr-3">

            <form action="../../searching" method='post' class="form-inline my-2 my-lg-0">
                {% csrf_token %}
                <input class="form-control mr-sm-2" name="keyword" type="search" placeholder="Search" id="search" aria-label="Search" autocomplete="on">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>

        <!-- {% if all1.votes_table == '1' %} profile
        <a class="btn btn-outline-success my-2 my-sm-0 nav-link mx-2" href="/">LogOut</a> {% endif %} {% if all1.votes_table != '1' %}
        <a class="btn btn-outline-success my-2 my-sm-0 nav-link mx-2" href="../signup">SignUp</a>
        <a class="btn btn-outline-success my-2 my-sm-0 nav-link mx-2" href="../signin">SignIn</a> {% endif %} -->
        {% if request.session.person_id %} {% csrf_token %}
        <a class="btn btn-outline-success my-2 my-sm-0 nav-link mx-2" href="../../cis/{{all11.userslug}}">{{ request.session.person_fname }} </a>
        <a class="btn btn-outline-success my-2 my-sm-0 nav-link mx-2" href="../logout">LogOut</a> {% else %}
        <a class="btn btn-outline-success my-2 my-sm-0 nav-link mx-2" href="../signup">SignUp</a>
        <a class="btn btn-outline-success my-2 my-sm-0 nav-link mx-2" href="../signin">SignIn</a> {% endif %}

    </div>
</nav>
{% endblock %} {% block body %} {% for message in messages%}
<div class='container'>
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        <strong>Message: </strong> {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
    </div>
</div>
{% endfor %}


<div class="container">

    <br>
    <div class="card container">
        <div class=" text-center py-5 my-5 border-bottom border-primary">
            <h1>Set Password</h1>
            <label>Set your new password.</label>
        </div>
        <form method="post">
            {% csrf_token %}

            <div class="form-group">
                <label for="email">New Password</label>
                <input class="form-control" id="password" name="password" type="password" required>
            </div>
            <div class="form-group">
                <label for="email">Again enter New Password</label>
                <input class="form-control" id="cpassword" name="confirm_pass" type="password" required>
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
        {% endblock %}
    </div>
</div>